@charset "UTF-8";

#boarderblack{
	border: 1px solid lightgray;
	padding: 5px;
}
#b_title{
	width: 60%
}

a{
	text-decoration: none;
	color: black;
}

.board-main{
	border: 1px solid lightgray;
	width: 70%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.board-body{
	width: 100%;
	height: 100%;
}

.board-content{
	width: 90%;
	height: 20%;
	border-radius: 20px 20px 20px 20px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 10px 20px 0 rgb(150 153 159 / 50%);
}

.flex{
	display: flex;
	justify-content: space-around;
}

.game-content{
	display: flex;
	justify-content: space-around;
}

.basic{
	border: 1px solid lightgray;
	width: 200px;
	height: 100px;
}

.tag-bar{
	border: 1px solid lightgray;
	width: 100px;
	height: 500px;
	margin-left: 7%;
}

.tag-box{
	width: 100%;
	height: 20%;
	text-align: center;
}

.head-main{
	border: 1px solid lightgray;
	width: 80%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("resources/img/subpicture2.png");
}

.basic-input{
	padding-left: 10px;
}

.padding-top{
	padding-top: 20px;
}

.basic-btn{
	border: none;
	background-color: #02343F;
	color: #F0EDCC;
	border-radius: 2px;
}

