<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.home.mapper.NoticeBoardMapper">

	<insert id="noticeBoardInsert">
		INSERT INTO noticeBoardTBL(notice_title, notice_content) VALUES(#{notice_title}, #{notice_content})
	</insert>

	<select id="noticeBoardList" resultType="org.study.home.model.NoticeBoardDTO">
		select * from noticeBoardTBL
	</select>
	
	<select id="noticeBoardRead" resultType="org.study.home.model.NoticeBoardDTO">
		select * from noticeBoardTBL where notice_no = #{notice_no}
	</select>
	
	<update id="noticeBoardViewCount">
		UPDATE noticeBoardTBL set notice_count = notice_count+1 WHERE notice_no = #{notice_no};
	</update>

	<select id="noticeBoardByCount" resultType="org.study.home.model.NoticeBoardDTO">
		select * from noticeBoardTBL order by notice_count DESC
	</select>

</mapper>