<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.home.mapper.NoticeBoardMapper">

	<insert id="noticeBoardInsert">
		INSERT INTO noticeBoardTBL(notice_title, notice_content) VALUES(#{notice_title}, #{notice_content})
	</insert>

</mapper>